-#
-# admin.jade
-#
-# Created on: 2/10, 2013
-#     Author: Matt Green
-#
-# Admin interface view
-#  
extends looks_list_base

prepend head
  script(src='/javascripts/controllers/AdminController.js')

  link(rel='stylesheet', href='/stylesheets/admin_panel.css')

block list_header 
  | #{listTitle}

block list_element
  div(id="admin_element"
      ng-controller="AdminController",  
      ng-init="lookId=look._id ; isPublished=conditional(look.showOnCrossList, 'published','unpublished')",
      ng-click="togglePublished()",
      ng-class="isPublished")
    img(ng-src="{{look.url}}",
        ng-style="{ height : computeHeight(look) }")
    br
    a(ng-href="/look/{{look._id}}")
      | {{look.title | checkEmpty:'untitled'}} ({{look.tags.length}} tags)