-#
-# admin.jade
-#
-# Created on: 2/10, 2013
-#     Author: Matt Green
-#
-# Admin interface view
-#  
extends layout

prepend head
  script(src='/javascripts/admin_panel.js')
  script(src='/javascripts/controllers/AdminController.js')

  link(rel='stylesheet', href='/stylesheets/admin_panel.css')

block content
  div.list_header #{listTitle}

  div.all_looks_wrapper(style="text-align: center")
    - if (looks.length > 0)
      - for (var i = 0; i < looks.length; i += 5) { 
        div(style="display: inline-block")
          div(style="position: relative;")
            - for (var j = 0; j < 5 && i + j < looks.length; ++j) {
              div(style="float: left", 
                  ng-controller="AdminController",
                  ng-init="isPublished=#{looks[i+j].showOnCrossList ? "'unpublished'":"'published'"}", 
                  ng-click="togglePublished()",
                  ng-class="isPublished")

                //a(href="/look/#{looks[i + j]._id}")
                img(src="#{looks[i + j].url}", style="margin: 10px; width: #{sizer.getWidth(i + j)}px; height: #{sizer.getHeight(i + j)}px")

            - }
            div(style="clear: both")
      - }
              
      div(style="clear:both")
      div.list_header
        div(style="display: inline-block; position: relative")
          - for (var i = 0; i < numPages; ++i) {
            - if (page == i) {
              div(style="float:left; padding: 10px; font-weight: bold") #{i + 1}
            - }
            - else {
              div(style="float:left; padding: 10px;")
                a(href='#{routeUrl}p=#{i}') #{i + 1}
            - }
          - }
        div(style="clear: both")
    - else
      div.list_header No looks found
