-#
-# admin.jade
-#
-# Created on: 2/10, 2013
-#     Author: Matt Green
-#
-# Admin interface view
-#  
extends looks_list_base

prepend head
  script(src='/javascripts/controllers/AdminController.js')

  link(rel='stylesheet', href='/stylesheets/admin_panel.css')

block list_header 
  include partials/_admin_navigation.jade

block list_element
  div(id="admin_element"
      ng-controller="AdminController",  
      ng-init="lookId=look._id ; isPublished=conditional(look.showOnCrossList, 'published','unpublished')",
      ng-class="isPublished",
      style="cursor: pointer")
    img#userImage(ng-src="{{look.url}}#ascot={{look._id}}",
        onload="ascotPluginEnqueue($(this))",
        ng-style="{ height : computeHeight(look), 'background-color' : '#A3A3A3' }")
    br
    div.publish(ng-click="togglePublished()", style="cursor: pointer")
      | Toggle Published
    a(ng-href="/look/{{look._id}}")
      | {{look.title | checkEmpty:'untitled'}} ({{look.tags.length}} tags)
    br
    div(ng-click="delete(look)", style="cursor: pointer")
      | [DELETE THIS LOOK]
