-#
-# collections.jade
-#
-# Created on: May 28, 2013
-#     Author: Valeri Karpov
-#
-# View for a list of collections visible to user
-#  
extends layout

block content
  h2.list_header Collections
  - each collection in collections
    div.collectionPreview
      - if (collection.looks.length > 0)
        div.collectionHeader
          div.collectionNameDate
            a(href='/user/#{collection.owner.username}/collection/#{encodeURIComponent(collection.title)}') #{collection.title} 
            br
            | #{collection.looks.length} Looks
            br
            p Uploaded on #{new Date(collection.created).toDateString()}
          div.collectionShare
            div.shareCollection(src="#") 
              img(src="/images/overlayOptions_share.png")
              | Share Collection
        br
        a(href='/user/#{collection.owner.username}/collection/#{encodeURIComponent(collection.title)}')
          img.collectionCoverThumbnail(src="#{collection.looks[0].thumbnail}")
          div.collectionSampler
            - for (var i = 1; i < collection.looks.length && i < 10; ++i)
              img.collectionThumbnailSmall(src="#{collection.looks[i].thumbnail}")