-#
-# collections.jade
-#
-# Created on: May 28, 2013
-#     Author: Valeri Karpov
-#
-# View for a list of collections visible to user
-#  
extends layout

block content
  - each collection in collections
    div(style="margin-top: 10px; padding: 5px border-bottom: 1px solid #ACACAC")
      - if (collection.looks.length > 0)
        a(href='/user/#{collection.owner.username}/collection/#{encodeURIComponent(collection.title)}')
          img(src="#{collection.looks[0].thumbnail}", style="width: 226px")
        br
      div(style="font-size: 2em")
        a(href='/user/#{collection.owner.username}/collection/#{encodeURIComponent(collection.title)}') #{collection.title} 
      div(style="font-size: 0.8em")
        | #{collection.looks.length} Looks
        br
        | Uploaded on #{new Date(collection.created).toDateString()}
