doctype 5
html(ng-app='AscotModule')
  head
    title= title

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.js')
    script(src='/javascripts/basic_tools.js')
    script(src='/javascripts/AngularFilters.js')
    script(src='/javascripts/services/ImageOffsetService.js')
    script(src="/javascripts/services/Redirect.js")
    script(src="/javascripts/services/Autocomplete.js")
    script(src='/javascripts/AscotModule.js')
    script(src='/javascripts/controllers/MainSearchBarController.js')
    script(src='/vendor/javascripts/jquery.imagesloaded.js')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', type='image/png', href='/images/favicon.ico')
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/start/jquery-ui.css')
    
    block head

    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36829509-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body

   

    #wrapper(ng-controller='MainSearchBarController')
      a#logoWrapper(href="/")
        img#logo(src='/images/ascotLogo_redo.png', id:'logo')

      

      ul#nav 
        li
          a(href="/upload", id="#{url.indexOf('/upload') == 0 ? 'currentPage' : 'nonCurrentPage'}")  
            h3 Upload
            p Paste an image link or upload an image to start tagging.
        li
          a(href="/all", id="#{url.indexOf('/all') == 0 ? 'currentPage' : 'nonCurrentPage'}")
            h3 Looks
            p See images that have already been tagged.
        li
          a(href="/random", id="#{url.indexOf('/random') == 0 ? 'currentPage' : 'nonCurrentPage'}")
            h3 Random
            p See a random image. 
        li
          a(href="/howto/tumblr", id="#{url.indexOf('/howto/tumblr') == 0 ? 'currentPage' : 'nonCurrentPage'}")  
            h3 How To
            p Learn how to use the ascot plugin. 

      br
      img#bottomStripe(src='/images/bottomStripe.png', id:'stripe')



      br 
      form(method='get', action='/keywords')
        input(type='text',
              name='v',
              id='main_search',
              ng-model='mainSearch',
              ng-change='updateResults()'
              placeholder="brand or keywords")
        span#glass 
          i
      div.autocomplete
        div(ng-repeat='result in results',
            ng-click='onSelected(result)')
          span(ng-bind-html-unsafe='suggestions[$index] | boldInstances:mainSearch')

      

     

      br
      block content
    #footer  
      ul#companyInfo
        li
          a(href="/about") about-
        li
          a(href="#") privacy-
        li
          a(href="#") contact   


      ul#social
        li
          a(href="http://ascotproject.tumblr.com/", target="_blank")
            img#tumblr(src='/images/tumblrButton.png', id:'tumblrButton')
        li
          a(href="https://twitter.com/AscotProject", target="_blank")
            img#twitter(src='/images/twitterButton.png', id:'twitterButton')
        li
          a(href="https://www.facebook.com/ascotproject", target="_blank")
            img#facebook(src='/images/facebookButton.png', id:'fbButton')
    
