-#
-# looks_list.jade
-#
-# Created on: November 18, 2012
-#     Author: Valeri Karpov
-#
-# Views for a list of looks, i.e. for search results
-#	
extends layout

prepend head
  script(src="/common/LookImageSizer.js")
  script(src="/vendor/javascripts/jquery.masonry.js")
  
  script(src="/javascripts/controllers/LooksListController.js")

block content
  div.list_header
    | #{listTitle}

  div.all_looks_wrapper(style="text-align: center",
                        ng-controller="LooksListController",
                        ng-init="init(#{JSON.stringify(looks)}, #{numPages}, #{page})",
                        ng-when-scrolled="loadNextPage();")
    div.all_looks_element(ng-repeat="look in looks")
      a(ng-href="/look/{{look._id}}")
        img(ng-src="{{look.url}}",
            ng-images-loaded="onImageLoaded($index);",
            ng-style="{ 'height' : sizer.getHeight($index) + 'px', 'width' : sizer.getWidth($index) + 'px' }")
    div.clear
    div.list_header(ng-show="looks.length == 0")
      | No looks found

