head
  link(rel='stylesheet', href='/stylesheets/ascot_look.css')
  link(rel='stylesheet', href='/stylesheets/ascot_overlay.css')
  link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/start/jquery-ui.css')

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js')
  script(src='/javascripts/ascot_plugin.js')
  script(src='/vendor/javascripts/jquery.imagesloaded.js')
  link(rel='stylesheet', href='/stylesheets/ascot_plugin.css')
  link(rel='stylesheet', href='/stylesheets/ascot_look.css')
  script(type='text/javascript')
    $(document).ready(function() {
      initAscotPlugin(jQuery, '');
    })

  meta( property="og:title",
        content="#{look.title.length > 0 ? look.title + ' - Ascot Project' : 'Ascot Project'}")
  meta( property="og:url",
        content="http://www.ascotproject.com/look/#{look._id}")
  meta( property="og:image",
        content="#{look.url}")
  meta( property="og:description",
        content="Ascot is an image-tagging tool that lets you embed data into pictures.")
  meta( property="og:site_name",
        content="Ascot Project")

body
  include partials/_look.jade
