-#
-# looks_list.jade
-#
-# Created on: November 18, 2012
-#     Author: Valeri Karpov
-#
-# Views for a list of looks, i.e. for search results
-#	
extends layout

prepend head
  script(src="/common/LookImageSizer.js")
  
  script(src="/javascripts/controllers/LooksListController.js")

block content
  div.list_header
    | #{listTitle}
  div.sort_sub_header
    | Sort By:
    | 
    a(href="?sortBy=newest",
      class="#{!query.sortBy || query.sortBy == 'newest' ? 'currentSort' : ''}")
      | Latest
    | 
    a(href="?sortBy=viewed",
      class="#{query.sortBy == 'viewed' ? 'currentSort' : ''}")
      | Views
    | 
    a(href="?sortBy=favorited",
      class="#{query.sortBy == 'favorited' ? 'currentSort' : '' }")
      | Upvotes

  div.all_looks_wrapper(style="text-align: center",
                        ng-controller="LooksListController",
                        ng-init="init(#{JSON.stringify(looks)}, #{numPages}, #{page}, 4)",
                        ng-when-scrolled="loadNextPage();")
    div.all_looks_element(ng-repeat="column in columns")
      div(ng-repeat="look in column")
        a(ng-href="/look/{{look._id}}")
          img(ng-src="{{look.url}}",
              ng-style="{ height : computeHeight(look, 228) }")
    div.clear
    div.list_header(ng-show="looks.length == 0")
      | No looks found

