extends layout

prepend head
  script(src='/javascripts/ascot_plugin.js')
  script(src='http://platform.tumblr.com/v1/share.js')
  link(rel='stylesheet', href='/stylesheets/ascot_look.css')
  link(rel='stylesheet', href='/stylesheets/ascot_plugin.css')
  script(type='text/javascript')
    $(document).ready(function() {
      initAscotPlugin(jQuery, '');
    })
  
  meta( property="og:title",
        content="#{look.title.length > 0 ? look.title + ' - Ascot Project' : 'Ascot Project'}")
  meta( property="og:url",
        content="http://www.ascotproject.com/look/#{look._id}")
  meta( property="og:image",
        content="#{look.url}")
  meta( property="og:description",
        content="Ascot is an image-tagging tool that lets you embed data into pictures.")
  meta( property="og:site_name",
        content="Ascot Project")


block content

  div.look-container(ng-init="look = #{JSON.stringify(look)}")
    div(style="text-align: center")
      include partials/_look.jade
    
    div.share_container
      div.tumblr_container
        div.header Share on Tumblr
        div
          | Make sure the Ascot plugin is installed in your Tumblr theme 
          a(href='/howto/tumblr')[help] 
          | and click below to share:
        div(style="padding-top:10px")
          a(target='_blank',
            title='Share on Tumblr',
            style='display:inline-block; text-indent:-9999px; overflow:hidden; width:129px; height:20px; background:url("http://platform.tumblr.com/v1/share_3.png") top left no-repeat transparent;',
            ng-href='http://www.tumblr.com/share/photo?source={{look.url | encodeURIComponent}}&clickthru={{("http://www.ascotproject.com/look/" + look._id) | encodeURIComponent}}&caption={{look | htmlifyTags | encodeURIComponent}}&tags=ascot') 
            | Share on Tumblr

      div.iframe_code_container
        div.header Embed
        div
          | Copy the below code into your blog or website
          textarea.iframe_code(readonly)
            | <iframe width='{{look.size.width}}' height='{{look.size.height}}' src="http://www.ascotproject.com/look/{{look._id}}/iframe" frameborder='0'></iframe>

      div(style="clear:both")
