-#
-# looks_list_base.jade
-#
-# Created on: March 25, 2013
-#     Author: Valeri Karpov
-#
-# Base view for a list of looks
-#	
extends layout

prepend head
  script(src="/common/LookImageSizer.js")
  
  script(src="/javascripts/controllers/LooksListController.js")

block content
  block list_header

  div.sort_sub_header
    strong 
    | 
    a(href="?sortBy=newest",
      class="#{!query.sortBy || query.sortBy == 'newest' ? 'currentSort' : ''}")
      | Latest
    | -
    a(href="?sortBy=viewed",
      class="#{query.sortBy == 'viewed' ? 'currentSort' : ''}")
      | Most Viewed
    | -
    a(href="?sortBy=favorited",
      class="#{query.sortBy == 'favorited' ? 'currentSort' : '' }")
      | Highest Rated

  div.all_looks_wrapper(style="text-align: center",
                        ng-controller="LooksListController",
                        ng-init="init(#{JSON.stringify(looks)}, #{numPages}, #{page}, 4, 228)",
                        ng-when-scrolled="loadNextPage();")
    div.all_looks_element(ng-repeat="column in columns")
      div.look_element(ng-repeat="look in column")
        block list_element
    div.clear
    div.list_header(ng-show="looks.length == 0")
      | No looks found

