-#
-# tagger.jade
-#
-# Created on: November 17, 2012
-#     Author: Valeri Karpov
-#
-# View for our image tagger
-#

extends layout

prepend head
  script(src="/javascripts/controllers/TaggerViewController.js")
  script(src="/javascripts/adjust_wrappers.js")
  script(type="text/javascript")
    // Quick hack to make it so cursor doesn't change to 'text' in
    // Chrome when dragging a tag
    $(document).ready(function() {
      //document.onselectstart = function(){ return false; }
      var enabled = true;
      window.enableSelect = function() {
        enabled = true;
      };
      window.disableSelect = function() {
        enabled = false;
      };
      
      $('.magicdiv').mousedown(function(e) {
        if (!enabled) {
          e.preventDefault();
        }
      });
      
      window.disableSelect();
    });

  link(rel='stylesheet', href='/stylesheets/taggerPut.css')

block content
  .progressStep
    img(src='/images/progressStep2.png', id:'step2')
  div(ng-controller="TaggerViewController")
    h3.info Add Image Info
    p.title Title
    input(type="text", 
          placeholder="",
          id="titleField",
          ng-autofocus="true",
          ng-model="idsToLooks['#{look._id}'].title")
    p.title Source
    input(type="text", 
          placeholder="",
          id="sourceField",
          ng-model="idsToLooks['#{look._id}'].source")    
    br
    br 
    h3#tagTutorial Click on the image to add tags. Double click to delete. 

    include partials/_tagger.jade

    br
    input#submitButton.save_button( type="submit",
                                    value="Save",
                                    ng-click="finalize('#{look._id}')")
    br
    br
    br
