-#
-# tagger.jade
-#
-# Created on: November 17, 2012
-#     Author: Valeri Karpov
-#
-# View for our image tagger
-#

extends layout

prepend head
  script(src="/javascripts/controllers/TaggerViewController.js")
  script(src="/javascripts/adjust_wrappers.js")
  link(rel='stylesheet', href='/stylesheets/taggerPut.css')


block content
 .progress
    img(src='/images/progressStep2.png', id:'step2')
 div(ng-controller="TaggerViewController")
    h2.info 2. Add Image Info
    p.title Title
    input(type="text", 
          placeholder="",
          id="titleField"
          ng-model="idsToLooks['#{look._id}'].title")
    p.title Source
    input(type="text", 
          placeholder="",
          id="sourceField"
          ng-model="idsToLooks['#{look._id}'].source")     
    h2.info 3. Click on the image to add tags. Double click to delete. 

    div.look-container
      div#look
        div.magicdiv(style="position: relative")
          img(src="#{look.url}",
              class="uploadedImg",
              ascot_id="#{look._id}",
              adjust_ascot_wrapper="1",
              ng-init="look = '#{look._id}'; loadLook(look)",
              ng-click="addTag(look, $event.pageX, $event.pageY)",
              ng-mousemove="updateDraggingTagPosition(look, $event.pageX, $event.pageY)")
          div.item(ng-repeat="tag in idsToLooks[look].tags",
                   ng-style="{ position : 'absolute', left : computeTagDisplayPosition(look, tag).x + 'px', top : computeTagDisplayPosition(look, tag).y + 'px' }",
                   ng-dblclick="deleteTag(look, tag)",
                   ng-click="startEdittingTag(look, tag)",
                   ng-mousedown="startDraggingTag(look, tag)",
                   ng-mouseup="finishDraggingTag(look, tag)")
            {{tag.index}}

          div#overlay(ng-show="isEdittingTag(look)",
                      ng-style="{ position : 'absolute', left : (computeTagDisplayPosition(look, idsToEditTag[look]).x + 25) + 'px', top : (computeTagDisplayPosition(look, idsToEditTag[look]).y + 25) + 'px' }",
                      ng-click="autocomplete.hide('BRAND'); autocomplete.hide('NAME');")
            input.tagger_input( type="text",
                                id="brandInput",
                                placeholder="Brand (e.g. Bonobos)",
                                ng-change="autocomplete.updateResults('BRAND', idsToEditTag[look].product.brand)"
                                ng-model="idsToEditTag[look].product.brand",
                                ng-directional="true",
                                ng-key-up="autocomplete.prevSelection('BRAND');",
                                ng-key-down="autocomplete.nextSelection('BRAND');",
                                ng-key-return="idsToEditTag[look].product.brand = autocomplete.getSelected('BRAND'); autocomplete.hide('BRAND');")
            div(style="position: relative")
              div.tagger_autocomplete(ng-show="autocomplete.show['BRAND']")
                div(ng-repeat="suggestion in autocomplete.results['BRAND']",
                    ng-class="autocomplete.checkSelection('BRAND', $index)",
                    ng-mouseover="autocomplete.selection['BRAND'] = $index;",
                    ng-click="idsToEditTag[look].product.brand = suggestion; autocomplete.hide('BRAND');")
                  span(ng-bind-html-unsafe="suggestion | boldInstances:idsToEditTag[look].product.brand")
            input.tagger_input( type="text",
                                id="nameInput",
                                placeholder="Name (e.g. Jet Blues - Boot Cut)",
                                ng-change="autocomplete.updateResults('NAME', idsToEditTag[look].product.name)",
                                ng-model="idsToEditTag[look].product.name",
                                ng-directional="true",
                                ng-key-up="autocomplete.prevSelection('NAME');",
                                ng-key-down="autocomplete.nextSelection('NAME');",
                                ng-key-return="idsToEditTag[look].product.name = autocomplete.getSelected('NAME'); autocomplete.hide('NAME');")
            div(style="position: relative")
              div.tagger_autocomplete(ng-show="autocomplete.show['NAME']")
                div(ng-repeat="suggestion in autocomplete.results['NAME']",
                    ng-class="autocomplete.checkSelection('NAME', $index)",
                    ng-mouseover="autocomplete.selection['NAME'] = $index;",
                    ng-click="idsToEditTag[look].product.name = suggestion; autocomplete.hide('NAME')")
                  span(ng-bind-html-unsafe="suggestion | boldInstances:idsToEditTag[look].product.name")
            input.tagger_input( type="text",
                                id="buyLinkInput"
                                placeholder="URL (e.g. http://www.bonobos.com/navy-boot-cut-pants-for-men-jet-blues)"
                                ng-model="idsToEditTag[look].product.buyLink")
            br
            input.save_button(type="submit",
                              id="deleteTagButton",
                              value="Delete Tag",
                              ng-click="deleteTag(look, idsToEditTag[look]);")
            input.save_button(type="submit",
                              id="saveTagButton",
                              value="Save Tag",
                              ng-click="finishEdittingTag(look)")
    br
    input#submitButton.save_button(type="submit",
                      value="Save",
                      ng-click="finalize('#{look._id}', '#{key}')")
