extends layout

prepend head
  script(src='/javascripts/controllers/UploadController.js')
  link(rel='stylesheet', href='/stylesheets/upload.css')

block content
  #uploadWrapper
    h3.list_header Upload Any Image
    br
    canvas#myCanvas(height='60', width='390')
    script(src="/javascripts/progressSteps.js") 
    script 
      step1();
      drawNumbers();
    div#uploadToolsWrap(ng-controller="UploadController")
      br
        
      form(method='post', enctype='multipart/form-data', action='/image-upload')
        #uploadURL
          input(type='text',
                name='url',
                ng-model='url',
                placeholder="paste a link to an image",
                id="submitLink")

        br

        h2 or
      
        input(type='file',
              name='files',
              id="uploadInput",
              style="visibility: hidden",
              onchange="UploadController.prototype.setPath($('#uploadInput').val());")
        div.customUpload( onclick='$("#uploadInput").click();')
          | Select a file
        input(type='submit',
              class='btn btn-primary start',
              id="submit",
              value="Next",
              ng-show="shouldShow();")
